<div class="row">
  <div class="col-12">

    <div class="table-title">
      {{$t('my_orders.filled_orders')}}
    </div>

    <div class="table-filter">
      {{ $t('market.select_market')}}:
      <button class="ml-2 btn btn-sm btn-outline dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ marketName ? marketName : $t('please_select')}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item"
           @click="marketName = null">
          {{ $t('all') }}
        </a>
        <a v-for="market in markets"
           class="dropdown-item"
           @click="marketName = market.name">
          {{ market.name }}
        </a>
      </div>
    </div>

    <b-table show-empty
             stacked="xs"
             :items="orders.data"
             :fields="fields"
             class="table table-responsive-md text-right table-v2"
             :empty-text="$t('my_orders.no_filled_orders')">

      <template v-slot:cell(dateField)="order">
        <div>
          {{order.item.created_at | tz_datetime}}
        </div>
      </template>
      <template v-slot:cell(filledDateField)="order">
        <div>
          {{order.item.updated_at | tz_datetime}}
        </div>
      </template>
      <template v-slot:cell(marketField)="order">
        <div>
          <router-link :to="{ name: 'market.inner',params: {marketName: order.item.market}}">{{ order.item.market }}
          </router-link>
        </div>
      </template>
      <template v-slot:cell(typeField)="order">
        <div>
            <span v-if="order.item.type === 'SELL_LIMIT' || order.item.type === 'SELL'" class="text-danger">
            <icon name="arrow-down"></icon>
            {{$t('market.transaction_sell')}}
            </span>
          <span v-if="order.item.type === 'BUY_LIMIT' || order.item.type === 'BUY'" class="text-success">
            <icon name="arrow-up"></icon>
            {{$t('market.transaction_buy')}}
            </span>
        </div>
      </template>
      <template v-slot:cell(rateField)="order">
        <div>
            <span v-if="order.item.rate > 0">
              {{order.item.rate | round(getOrderMarketQuoteCurrencyDecimals(order.item))}} {{getOrderMarketQuoteCurrency(order.item)}}
            </span>
          <span v-else>
              {{$t('order.quick_order')}}
            </span>
        </div>
      </template>
      <template v-slot:cell(rateActualField)="order">
        <div>
          {{order.item.rate_actual | round(getOrderMarketQuoteCurrencyDecimals(order.item))}} {{getOrderMarketQuoteCurrency(order.item)}}
        </div>
      </template>
      <template v-slot:cell(quantityField)="order">
        <div>
          {{order.item.quantity | round(order.item.type === 'BUY' ? getOrderMarketQuoteCurrencyDecimals(order.item) : getOrderMarketCurrencyDecimals(order.item))}}
          <span v-if="order.item.type === 'BUY'">{{getOrderMarketQuoteCurrency(order.item)}}</span>
          <span v-else>{{getOrderMarketCurrency(order.item)}}</span>
        </div>
      </template>
      <template v-slot:cell(amountFilledField)="order">
        <div>
          {{order.item.amount_filled | round(order.item.type === 'BUY' ? getOrderMarketQuoteCurrencyDecimals(order.item) : getOrderMarketCurrencyDecimals(order.item))}}
          <span v-if="order.item.type === 'BUY'">{{getOrderMarketQuoteCurrency(order.item)}}</span>
          <span v-else>{{getOrderMarketCurrency(order.item)}}</span>
        </div>
      </template>
      <template v-slot:cell(HEAD_actions)="order">
        {{ $t('abort')}}
      </template>
    </b-table>

    <b-pagination class="mt-2 pagination-sm"
                  v-if="orders.meta.last_page > 1"
                  :total-rows="orders.meta.total"
                  :per-page="Number(orders.meta.per_page)"
                  v-model="orders.meta.current_page"
                  @input="loadOrders"></b-pagination>
  </div>
</div>
