<main class="whitebox">
  <h3 class="title-h3 color-dark-blue text-center">{{ $t('change_your_password') }}</h3>

  <form @submit.prevent="update" @keydown="form.onKeydown($event)" v-on:keyup.enter="update">

    <!-- Current Password -->
    <div class="form-group">
      <input type="password" name="password" class="form-control input-lg"
             v-model="form.current_password" :placeholder="$t('your_password')"
             :class="{ 'is-invalid': form.errors.has('current_password') }">
      <has-error :form="form" field="current_password"></has-error>
    </div>

    <!-- New Password -->
    <div class="form-group">
      <input type="password" name="password" class="form-control input-lg"
             v-model="form.password" :placeholder="$t('new_password')"
             :class="{ 'is-invalid': form.errors.has('password') }">
      <has-error :form="form" field="password"></has-error>
    </div>

    <!-- Password Confirmation -->
    <div class="form-group">
      <input type="password" name="password_confirmation" class="form-control input-lg"
             v-model="form.password_confirmation" :placeholder="$t('confirm_password')"
             :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
      <has-error :form="form" field="password_confirmation"></has-error>
    </div>

    <div v-if="twoFaMethod">

      <h3 class="title-h3 color-dark-blue text-center">{{ $t('two_factor_auth') }}</h3>

      <two-fa-verify-form
          ref="twoFa"
          :verify-error="verifyError"
          :show-logout="false"
          :method="twoFaMethod"
          :button-hide="true"
          :setOtp="form.otp"
          v-on:otpchange="setOtp">
      </two-fa-verify-form>

    </div>

    <!-- Submit Button -->
    <div class="form-group text-center">
      <v-button type="green" :loading="form.busy" big>{{ $t('update') }}</v-button>
    </div>

    <div v-if="success" class="text-center">
      <h3>{{ $t('password_updated') }}</h3>
    </div>
  </form>
</main>