<div>
  <div class="form-group">
    <div v-if="theme != 'dark-light'">{{$t('market.quick_buy_text',{currency: market.currency_name})}}</div>
    <label v-if="theme == 'dark-light'">{{$t('market.quick_buy_text',{currency: market.currency_name})}}</label>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">{{market.quote_currency}}</span>
    </div>
    <money-input :placeholder="$t('market.enter_amount')"
                 v-model="quickBuyAmount"
                 :decimals="market.quote_currency_format_decimals"></money-input>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" v-on:click="quickBuyMax">
        <icon name="angle-double-up"></icon>
      </button>
    </div>
  </div>

  <div class="clearfix">
    <div class="conversation d-flex justify-content-between align-items-center" v-if="market.ask > 0 && quickBuyAmount > 0">
      {{ $t('market.approximately')}} 
      <span >
        <b>{{quickBuyApproximate | round(market.currency_format_decimals)}}</b> {{market.currency}}
        <icon name="question-circle" class="text-primary" id="quickBuyHelpText"></icon>
        <b-popover target="quickBuyHelpText" placement="bottom" triggers="click blur">
          <div v-html="quickBuyHelpText"></div>
        </b-popover>
      </span>
    </div>
    <div class="conversation d-flex justify-content-between align-items-center" v-if="(market.ask <= 0) || !quickBuyAmount">
      <div v-if="!quickBuyAmount">&nbsp;</div>
      <div v-if="market.ask <= 0 && quickBuyAmount > 0">
        Approx.
        <span >
          N/A
          <icon name="question-circle" class="text-primary" id="quickBuyNAHelpText"></icon>
          <b-popover target="quickBuyNAHelpText" placement="bottom" triggers="click blur">
            <div>{{ $t('market.approximate_no_ask_price')}}</div>
          </b-popover>
        </span>
      </div>
    </div>
    <button v-if="authenticated && (theme != 'dark-light')" class="btn btn-green float-right" v-on:click="quickBuy" v-button-loading="busy">
      {{ $t('market.quick_buy')}}
    </button>
    <button v-if="authenticated && (theme == 'dark-light')" class="btn btn-primary btn-lg btn-block" v-on:click="quickBuy" v-button-loading="busy">
      {{ $t('market.quick_buy')}} &nbsp; <img src="theme/arrow-incircle-right.svg" alt="">
    </button>
    <div v-if="!authenticated" class="button-div">
      <div class="sell-login">
        <router-link tag="a" class="nav-item" :to="{ name: 'login'}">Log In</router-link>  or <router-link tag="a" class="nav-item" :to="{ name: 'register'}">Register</router-link> To Continue
      </div>
    </div>
  </div>
</div>