<main class="inner-container">
  <h3 class="title-h3 color-dark-blue text-center">{{ $t('sign_up') }}</h3>
  <form @submit.prevent="register" @keydown="form.onKeydown($event)" v-if="!registerComplete">

    <div class="form-group" v-if="registerFailed">
        <span class="has-error">
        <label class="control-label">{{ $t('register_error_message') }}</label>
        </span>
    </div>

    <div class="form-group ">
      <input class="form-control input-lg" :placeholder="$t('email')" type="text"
             v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }">
      <has-error :form="form" field="email"></has-error>
    </div>

    <div class="form-group">
      <input v-model="form.password" type="password" name="password"
             class="form-control input-lg" :placeholder="$t('password')"
             :class="{ 'is-invalid': form.errors.has('password') }">
      <has-error :form="form" field="password"></has-error>
    </div>

    <div class="form-group">
      <input v-model="form.password_confirmation" type="password" name="password_confirmation"
             class="form-control input-lg" :placeholder="$t('confirm_password')"
             :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
      <has-error :form="form" field="password_confirmation"></has-error>
    </div>

    <div class="mt-3 form-group">
      <small class="plainRef" @click="toggleReferral()" role="button">{{ $t('register_form.referral') }} <i class="fa fa-angle-down"></i></small>
      <input v-if="form.refcode || showReferral" v-model="form.refcode" type="number" name="referral"
             class="form-control input-lg"
             :class="{ 'is-invalid': form.errors.has('referral') }">
      <has-error :form="form" field="referral"></has-error>
    </div>

    <div class="form-terms-check clearfix">
      <div class="text-center">
        <label class="text-600">
          <input class="magic-checkbox" type="checkbox" name="layout" id="input_register_terms_of_service"
                 v-model="agreeTerms">
          <label class="pull-left" for="input_register_terms_of_service"></label>
          {{ $t('register_i_agree_to_the') }}
        </label>

        <strong>
          <a v-on:click="showTerms" class="auth-link-color">
            {{ $t('register_terms_of_service') }}
          </a>
        </strong>

        <div class="has-error display-block" v-if="agreeError">
          <label class="control-label">{{ $t('register_terms_of_service_error') }}</label>
        </div>
      </div>
    </div>

    <re-captcha :error="recaptchaError" :form="form" v-on:setRecaptchaResponse="setRecaptchaResponse"/>

    <div class="form-group text-center">
      <v-button :loading="form.busy || registerComplete" type="orange" big>{{ $t('sign_up') }}</v-button>
    </div>
  </form>

  <div v-if="!registerComplete" class="form-footer">{{ $t('register_already_have_an_account')}}
    <router-link :to="'login'">{{ $t('sign_in')}}</router-link>
  </div>

  <div v-if="registerComplete" class="text-center">
    <h3>{{ $t('register_success_message') }}</h3>

    <p>
      <div>{{ $t('account_resend_verification_first') }} <a class="text-green cursor-pointer" v-if="!sendingVerfication" @click="resendVerification()">{{ $t('account_resend_verification_second') }}</a><a v-if="sendingVerfication">{{ $t('register_form.email_sent_wait')}}</a></div>
    </p>

    <p v-if="verficationComplete"><small><a class="text-green">{{ $t('register_form.email_sent')}}</a></small></p>
    <p v-if="verficationFailed"><small><a class="text-red">{{ $t('register_form.email_sent_notice')}}</a></small></p>

    <router-link :to="{ name: 'welcome' }">
      <button class="btn btn-green btn-big">{{ $t('home') }}</button>
    </router-link>
  </div>

</main>
